<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forget password</title>
<link type="text/css" rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<link type="text/css" rel="stylesheet"
	th:href="@{/resources/css/userCss.css}">
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header">Send new password to your email</h2>
			<form method="POST" th:object="${user}" th:action="@{/forgetPassword}" class="ui large form">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="envelope outline icon"></i> <input type="email" name="email" th:field="*{email}"
								placeholder="Email">
						</div>
					</div>
					<div class="field">
                			<div class="g-recaptcha" data-sitekey="6LdtI04UAAAAAIAICGfldc44pd2280KrOdb7Ben-"></div>
                	</div>
					<button class="ui fluid large submit blue button">Send</button>
					<p></p>
					<a class="ui fluid large submit green button" th:href="@{/login}" th:text="Login">login</a>
				</div>

				<div th:if="${#fields.hasErrors('*')}" class="ui error message" style="display: block;">
                	<ul><li th:each="err : ${#fields.errors('email')}" 
                		th:text="'Email: ' + ${err}">Input is incorrect</li></ul>
                </div>
                <div th:if="${captcha_errors}" class="ui error message" style="display: block;">
					<ul><li th:each="err : ${captcha_errors}" 
                		th:text="'reCAPTCHA: ' + ${err}">Captcha is wrong</li></ul>
                </div>
                <div th:if="${email_error}" class="ui error message" style="display: block;">
					<ul><li th:text="'Email: ' + ${email_error}">Email is not found</li></ul>
                </div>
			</form>
		</div>
	</div>
</body>
</html>
