<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title th:text="#{login.title}">Login</title>
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link type="text/css" rel="stylesheet"
		th:href="@{/resources/css/userCss.css}">
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header" th:text="#{login.h2}">Log-in to your account</h2>
			<form method="POST" th:action="@{/login}" class="ui large form">
				
				<div th:if="${email_password_reset}" class="ui error message" style="display: block;">
					<ul><li th:text="${email_password_reset}">New Password Email has been sent.</li></ul>
                </div>
			    <div class="item">
					<a th:href="@{/?language=zh_TW}">
						<img th:src="@{/resources/img/tw.png}" alt="Chinese (Traditional)" />
					</a>
					<a th:href="@{/?language=en}">
						<img th:src="@{/resources/img/us.png}" alt="English" />
					</a>
				</div>
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" name="username"
								placeholder="Username">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="password"
								placeholder="Password">
						</div>
					</div>
					<div class="field">
						<div class="ui toggle checkbox">
							<input type="checkbox" name="remember-me"> <label th:text="#{login.remember.me}">Remember
								Me</label>
						</div>
					</div>
					<button class="ui fluid large submit green button" th:text="#{login.button}">Login</button>
					<p></p>
					<a class="ui fluid large submit blue button" th:href="@{/registration}" th:text="#{login.register}">register</a>
					<p></p>
					<a th:href="@{/forgetPassword}" th:text="#{login.forget.password}">forget password</a>
					<p></p>
					<a class="ui negative basic button" th:href="@{/todos}" th:text="#{login.home}">home</a>
				</div>

                <div th:if=${param.error} th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" 
                 class="ui error message" style="display: block;">
                    Authentication Failed<br/>
                    Reason : <span th:text="${errorMsg}">Wrong input!</span>
                </div>
			</form>
		</div>
	</div>
</body>
</html>
