<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title th:text="#{password.change.success.title}">Password
		change success</title>
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<style type="text/css">
body {
	background-color: #DADADA;
}

body>.grid {
	height: 100%;
}

.column {
	max-width: 450px;
}
</style>
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header" th:text="#{password.change.success.h2}">
				<span th:text="${username}">username</span> has been successfully
				changed password.
			</h2>
			<a th:href="@{/}" class="ui mini positive button"
					th:text="#{password.change.success.link}">todo list</a>
		</div>
	</div>
</body>
</html>
