<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration</title>
<link type="text/css" rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<style type="text/css">
body {
	background-color: #DADADA;
}

body>.grid {
	height: 100%;
}

.column {
	max-width: 450px;
}
</style>
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header">Register a new account</h2>
			<form method="POST" th:object="${user}" th:action="@{/registration}" class="ui large form">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input type="text" th:field="*{username}" 
								placeholder="Username">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" th:field="*{password}" 
								placeholder="Password">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="email icon"></i> <input type="text" th:field="*{email}"
								placeholder="Email">
						</div>
					</div>
					<button class="ui fluid large submit green button">Register</button>
				</div>

                <div th:if=${param.error} th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" 
                 class="ui error message" style="display: block;">
                    Authentication Failed<br/>
                    Reason : <span th:text="${errorMsg}">Wrong input!</span>
                </div>
			</form>
		</div>
	</div>
</body>
</html>
