<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title th:text="#{registration.title}">Registration</title>
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link type="text/css" rel="stylesheet"
		th:href="@{/resources/css/userCss.css}">
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header" th:text="#{registration.h2}">Register a new account</h2>
			<form method="POST" th:object="${user}" th:action="@{/registration}" class="ui large form">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="ui stacked segment">
				
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i> <input id="username" type="text" name="username" th:field="*{username}" 
								placeholder="Username">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input id="password" type="password" name="password" th:field="*{password}" 
								placeholder="Password">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input id="matchingPassword" type="password" name="matchingPassword" th:field="*{matchingPassword}" 
								placeholder="Password again">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="envelope outline icon"></i> <input id="email" type="email" name="email" th:field="*{email}"
								placeholder="Email">
						</div>
					</div>
					<div class="field">
                			<div class="g-recaptcha" data-sitekey="6LdtI04UAAAAAIAICGfldc44pd2280KrOdb7Ben-"></div>
                	</div>
					<button class="ui fluid large submit blue button" th:text="#{registration.button}">Register</button>
					<p></p>
					<a class="ui fluid large submit green button" th:href="@{/login}" th:text="#{registration.login}">login</a>
				</div>

				<div th:if="${#fields.hasErrors('*')}" class="ui error message" style="display: block;">
					<ul><li th:each="err : ${#fields.errors('username')}" 
                		th:text="#{registration.username} + ': ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('password')}" 
                		th:text="#{registration.password} + ': ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('matchingPassword')}" 
                		th:text="#{registration.matchingPassword} + ': ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('email')}" 
                		th:text="'Email: ' + ${err}">Input is incorrect</li></ul>
                </div>
                <div th:if="${captcha_errors}" class="ui error message" style="display: block;">
					<ul><li th:each="err : ${captcha_errors}" 
                		th:text="'reCAPTCHA: ' + ${err}">reCAPTCHA is wrong</li></ul>
                </div>
                <div th:if="${message}" class="ui error message" style="display: block;">
					<ul><li th:text="#{registration.error} + ': ' + ${message}">Error Message</li></ul>
                </div>
			</form>
		</div>
	</div>
</body>
</html>
