<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title th:text="#{reset.password.title}">Reset password</title>
	<link type="text/css" rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link type="text/css" rel="stylesheet"
		th:href="@{/resources/css/userCss.css}">
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header" th:text="#{reset.password.h2}">Update your password</h2>
			<form method="POST" th:object="${user}" th:action="@{/resetPassword}" class="ui large form">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="oldPassword" th:field="*{oldPassword}" 
								placeholder="Old Password">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="password" th:field="*{password}" 
								placeholder="Password">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="matchingPassword" th:field="*{matchingPassword}" 
								placeholder="Password again">
						</div>
					</div>
					<button class="ui fluid large submit blue button" th:text="#{reset.password.button}">Set</button>
					<p></p>
					<a class="ui fluid large submit green button" th:href="@{/}" th:text="#{reset.password.home}">home</a>
				</div>

				<div th:if="${#fields.hasErrors('*')}" class="ui error message" style="display: block;">
                	<ul><li th:each="err : ${#fields.errors('oldPassword')}" 
                		th:text="#{reset.password.oldPassword} + ': ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('password')}" 
                		th:text="#{reset.password.password} + ': ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('matchingPassword')}" 
                		th:text="#{reset.password.matchingPassword} + ': ' + ${err}">Input is incorrect</li></ul>
                </div>
                <div th:if="${password}" class="ui error message" style="display: block;">
					<ul><li th:text="#{reset.password.error} + ': ' + ${password}">Old password is wrong.</li></ul>
                </div>
			</form>
		</div>
	</div>
</body>
</html>
