<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset password</title>
<link type="text/css" rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
<link type="text/css" rel="stylesheet"
	th:href="@{/resources/css/userCss.css}">
</head>

<body>
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui header">Update your password!</h2>
			<form method="POST" th:object="${user}" th:action="@{/resetPassword}" class="ui large form">
				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />
				<div class="ui stacked segment">
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="oldPassword" th:field="*{oldPassword}" 
								placeholder="Old Password">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="password" th:field="*{password}" 
								placeholder="Password">
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i> <input type="password" name="matchingPassword" th:field="*{matchingPassword}" 
								placeholder="Password again">
						</div>
					</div>
					<button class="ui fluid large submit blue button">Set</button>
					<p></p>
					<a class="ui fluid large submit green button" th:href="@{/}" th:text="Back">home</a>
				</div>

				<div th:if="${#fields.hasErrors('*')}" class="ui error message" style="display: block;">
                	<ul><li th:each="err : ${#fields.errors('password')}" 
                		th:text="'Password: ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('oldPassword')}" 
                		th:text="'Old Password: ' + ${err}">Input is incorrect</li></ul>
                	<ul><li th:each="err : ${#fields.errors('matchingPassword')}" 
                		th:text="'Matching Password: ' + ${err}">Input is incorrect</li></ul>
                </div>
                <div th:if="${password}" class="ui error message" style="display: block;">
					<ul><li th:text="'Password: ' + ${password}">Old password is wrong.</li></ul>
                </div>
			</form>
		</div>
	</div>
</body>
</html>
